* {
    box-sizing: border-box;
}

body {
    background-color:antiquewhite;
}

.header, .footer {
    background-color: grey;
    color: black;
    padding: 10px;
    text-align: center;
}

.column {
    float: left;
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 30%;
}

.content {
    width: 70%;
    text-align: justify;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #c46666;
    color: #110b0b;
}

.menu li:hover {
    background-color: #0099cc;
}
